version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development

    command: npm start

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "7532:7532"
      - "5555:5555"
    environment:
      - NODE_ENV=development
    command: >
      sh -c "npm run start:dev & npx prisma studio"

  camembert-api:
    build:
      context: ./camembert-api
      dockerfile: Dockerfile
    container_name: camembert-api
    ports:
      - "7533:7533"
    environment:
      - HOST=localhost
      - PORT=7533
      - LOG_LEVEL=INFO
      - MODEL_PATH=app/models/model.pth
