{{#> layout title="Reset Your Password"}}
    <h1 class="text-large highlight">Reset Your Password</h1>
    <p>Hi {{name}},</p>
    
    <div class="message-box">
        We received a request to reset your password. If you didn't make this request, you can safely ignore this email.
    </div>

    <a href="{{resetPasswordUrl}}" class="button">Reset Password</a>

    <p class="text-small">
        If the button doesn't work, copy and paste this link into your browser:<br>
        <span style="word-break: break-all;">{{resetPasswordUrl}}</span>
    </p>

    <p class="text-small">
        This password reset link will expire in 20 minutes.
    </p>
{{/layout}} 