{{#> layout title="Verify Your Email"}}
    <h1 class="text-large highlight">Verify Your Email</h1>
    <p>Hi {{name}},</p>
    
    <div class="message-box">
        Thanks for signing up! Please verify your email address to get started.
    </div>

    <a href="{{verificationUrl}}" class="button">Verify Email Address</a>

    <p class="text-small">
        If the button doesn't work, copy and paste this link into your browser:<br>
        <span style="word-break: break-all;">{{verificationUrl}}</span>
    </p>

    <p class="text-small">
        This verification link will expire in 2 hours.
    </p>
{{/layout}} 