{{#> layout title="Welcome to FOCP Supplier Portal"}}
    <h1 class="text-large highlight">Welcome to FOCP Supplier Portal!</h1>
    <p>Hi {{name}},</p>
    
    <div class="message-box">
        Thank you for verifying your email address. Your account is now fully activated!
    </div>

    <p>Here are some things you can do to get started:</p>
    <ul>
        <li>Complete your profile</li>
        <li>Create or Join a company</li>
        <li>Start bidding</li>
    </ul>

    <p class="text-small">
        If you have any questions, feel free to reach out to our support team.
    </p>
{{/layout}} 