{{#> layout title="Réinitialisation de votre mot de passe"  }}
    <h1 class="text-large highlight">Réinitialisation de votre mot de passe</h1>
    <p>Bonjour {{name}},</p>
    
    <div class="message-box">
        Nous avons reçu une demande de réinitialisation de votre mot de passe. Si vous n'avez pas fait cette demande, vous pouvez ignorer cet e-mail.
    </div>

    <a href="{{resetPasswordUrl}}" class="button">Réinitialiser votre mot de passe</a>

    <p class="text-small">
        Si le bouton ne fonctionne pas, copiez et collez ce lien dans votre navigateur :<br>
        <span style="word-break: break-all;">{{resetPasswordUrl}}</span>
    </p>

    <p class="text-small">
        Ce lien de réinitialisation de mot de passe expirera dans 20 minutes.
    </p>
{{/layout}} 