{{#> layout title="Bienvenue sur le portail des fournisseurs de FOCP"}}
    <h1 class="text-large highlight">Bienvenue sur le portail des fournisseurs de FOCP!</h1>
    <p>Bonjour {{name}},</p>
    
    <div class="message-box">
        Merci pour la vérification de votre adresse e-mail. Votre compte est maintenant complètement activé !
    </div>

    <p>Voici quelques choses que vous pouvez faire pour commencer :</p>
    <ul>
        <li>Complétez votre profil</li>
        <li>Créez ou rejoignez une entreprise</li>
        <li>Commencez à enchérir</li>
    </ul>

    <p class="text-small">
        Si vous avez des questions, n'hésitez pas à contacter notre équipe de support.
    </p>
{{/layout}} 